.offer__card_title {
    color: #fff;
    left: 0;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 2;
    font-size: 2.625rem;
    line-height: 3.25rem;
    font-weight: 900;
    margin-bottom: 30px;
    z-index: 2;
}

/* @media (max-width: 885px) {
    .offer__card_title {
        font-size: 1.25rem;
        line-height: 2rem;
    }
} */