.info__title {
    color: #002b49;
    font-weight: 900;
    margin-bottom: 30px;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 50px;
    display: block;
    text-align: center;
}